
@{
    ViewData["Title"] = "sucesso";
}


    <div class="alert alert-success" role="alert">
        <h1>Parabéns! Sua conta foi criada com sucesso! Clique <a href="../Usuario/Login">aqui</a> para entrar no sistema!</h1>
    </div>