<div class="row">
    <div class="col-lg-6">
        <a href="../Usuario/Login"> <button type="button" class="btn btn-block btn-primary"> Entrar no Sistema</button></a>
    </div>

    <div class="col-lg-6">
        <a href="../Usuario/Registrar"><button type="button" class="btn btn-block btn-success">Registrar uma conta</button></a>
    </div>


</div>